* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

.hidden {
  display: none;
}

.centerContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#container {
  display: flex;
}

#leftContainer {
  flex-basis: 92.5%;
}

#sidebar {
  height: 100vh;
  flex-basis: 7.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353535;
}

#toolbar {
  width: 65%;
  margin: 0 auto;
  margin-top: 2.5px;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #353535;
  padding: 0 10px;
}

#backButton, #openSkinSelect {
  color: #ddd;
  font-size: 56px;
  background-color: #555;
  width: 81px;
  height: 81px;
  line-height: 81px;
  border-radius: 50%;
  text-align: center;
}

#backButton i, #openSkinSelect i {
  padding-right: 7.5px;
}

#presetName {
  font: 400 64px Arial;
  color: #ddd;
  padding: 5px;
  text-align: center;
}

#inputSkin {
  display: none
}

#openSkinSelect {
  cursor: pointer;
}

#imgOutput {
  width: 65%;
  display: block;
  margin: 4vh auto;
  /* image-rendering: pixelated; */
  transition: filter .5s;
}
#imgOutput.loading {
  filter: grayscale(90%) blur(2px);
}

#btnDownload {
  text-decoration: none;
  color: #ddd;
  font: 300 56px Arial;
  display: inline-block;
  /* text-align: center; */
  margin: 0 auto;
  padding: 5px;
  background-color: #353535;
  transition: background-color .1s;
}
#btnDownload:hover {
  background-color: #555555;
}

#btnClear {
  display: inline-block;
  color: #ddd;
  font-size: 56px;
  background-color: #555;
  width: 81px;
  height: 81px;
  line-height: 85px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-top: 2.5px;
}

#dummy-skins {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 7.5vh;
}

#dummy-skins img {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  object-fit: contain;
  image-rendering: pixelated;
  background-color: #252525;
  transition: background-color .1s;
}
#dummy-skins img:hover {
  background-color: #454545;
}
#dummy-skins img[src="./skins/alex.png"] {
  background-color: rgba(100, 37, 37, 255);
}
#dummy-skins img[src="./skins/alex.png"]:hover {
  background-color: rgba(150, 69, 69, 255);
}

#skinSelectOverlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#skinSelectOverlay.active {
  display: block;
}


#skinSelectOverlay > div {
  min-height: 50%;
  background-color: #ddd;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
}
#skinSelectOverlay > div >  .close {
  font-size: 56px;
  border: none;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
#skinSelectOverlay > div > .warning {
  font-family: sans-serif;
  display: block;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  width: 70%;
  text-align: center;
  /* padding: 5px; */
  /* background-color: #fff; */
  font-size: 25px;
}

#lblInputSkin {
  font-family: sans-serif;
  display: block;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  width: 70%;
  text-align: center;
  padding: 5px;
  background-color: #fff;
  font-size: 30px;
}
#lblInputSkin:hover {
  background-color: #eee;
}

#playername {
    font-family: sans-serif;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%);
    width: 70%;
    text-align: center;
    border-left: #999 2px solid;
    padding: 5px;
    font-size: 30px;
}

#author {
  color: #ddd;
  text-decoration: none;
  font: 400 40px Arial;
  margin: 10px;
  padding: 10px;
  line-height: 40px;
  position: absolute;
  left: 0;
}
#author:hover {
  background-color: #555;
}

#loading-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2.5vh;
}
#loading-bar > span {
  display: block;
  height: 100%;
  /* border-top-right-radius: 8px; */
  /* border-bottom-right-radius: 8px; */
  /* border-top-left-radius: 20px; */
  /* border-bottom-left-radius: 20px; */
  background-color: rgb(82, 205, 255);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,255) 37%,
    rgb(123,251,255) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  width: 0%;
  pointer-events: none;
  transition: width 1s;
}
#loading-bar > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
