#header {
  font-size: 175px;
}

#link-container {
  grid-template-columns: 1fr;
}
#link-container > div.link-container-item {
  width: 50vw;
  height: 50vw;
  /* width: 750px; */
  /* height: 750px; */
}

@media only screen and (max-width: 1060px) {
  #header {
    font-size: 150px;
  }
  @media only screen and (max-width: 930px) {
    #header {
      font-size: 100px;
    }
  }
}
