@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Calibri, sans-serif;
}

body {
  background-color: #555;
}

#container_header {
  background-color: #333;
  padding: 10px 0;
}

#header {
  text-align: center;
  font-size: 100px;
  margin-bottom: 20px;
  color: #ddd;
}

#link-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#link-container .link-container-item {
  margin: 40px auto;
  width: 300px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.3) 9px 8px 20px 0px;
  overflow: hidden;
}

#link-container .link-container-item a {
  width: inherit;
  height: inherit;
  display: block;
  background-image: url(//unsplash.it/300);
  background-repeat: round;
	transform: scale(1);
	-webkit-transform: scale(1);
	-webkit-transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#link-container .link-container-item a:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

#link-container #aclib-generator a {
  background-image: url(img/aclib.png);
}
#link-container #execute-converter a {
  background-image: url(img/execute-converter.png);
}
#link-container #id-converter a {
  background-image: url(img/id-converter.png);
}
#link-container #profile-viewer a {
  background-image: url(https://minotar.net/helm/Steve/256.png);
}
#link-container #datapacks a {
  background-image: url(img/datapacks.png);
}
#link-container #mc-tools a {
  background-image: url(img/mc-tools-logo.png);
}
#link-container #markdown-to-html a {
  background-image: url(img/markdown-to-html.png);
}

@media only screen and (max-width: 1300px) {
  #link-container {
    grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and (max-width: 950px) {
    #link-container {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 625px) {
      #link-container {
        grid-template-columns: 1fr;
      }
      h1#header {
        font-size: 75px;
      }
      @media only screen and (max-width: 500px) {
          h1#header {
            font-size: 50px;
          }
          #container_header {
            min-width: 300px;
          }
      }
    }
  }
}
