
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

#backButton {
  margin-left: 1vmin;
  margin-top: 1vmin;
}

#projectList *:first-child:hover {
  background-color: #2A9FD6;
}

#createProject {
  width: auto;
}
#createProjectName {
  display: inline;
  width: 50%;
}
#createProjectName:hover {
  background-color: #fff!important;
}

.list-group-item > .nameElement {
  cursor: pointer;
}
.list-group-item > .nameElement:hover {
  background-color: transparent!important;
}

.projectElement {
  display: flex;
  justify-content: space-between;
}
.projectElement span:first-child {
  flex: auto;
}

.projectElement .projectButton .btn-warning:hover {
  background-color: #D97400!important;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  flex-wrap: wrap;
}
.card-container .card {
  transition: background-color .3s;
  display: inline-flex;
  width: 27vmin;
  height: 100%;
  /* height: 27vmin; */
}
.card-container .card:hover {
  background-color: #444!important;
}
.card-container .card h4 {
  color: #ddd;
  text-align: center;
  font-size: 5vmin;
}
.card-container > a {
  text-decoration: none;
}
.card-container .card img.preview-img,
.card-container .card span.imgAnimated {
  width: 25vmin;
  height: 25vmin;
  object-fit: contain;
  margin: 0 auto;
}
