* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Calibri, sans-serif;
  color: #ddd;
}

body {
  /* overflow-y: hidden; */
  background: #555;
}

input {
  background-color: #444;
  border: #222 1px solid;
}

input:focus {
  outline: none;
}

.output_field {
  background-color: #444;
  border: #222 1px solid;
  padding: 5px;
  padding-left: 25px;
  margin: 25px;
  margin-top: 5px;
  margin-bottom: 0;
  border-radius: 15px;
  width: 750px;
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end; */
}
.output_field * {
  font-size: 25px;
  display: inline;
}

.output_field input {
  padding-left: 5px;
  margin-right: 5px;
  background: #333;
  border-radius: 10px;
  float: right;
  width: 550px;
}

#header {
  width: 100%;
  background-color: #333;
  margin-bottom: 25px;
}
#header h1 {
  text-align: center;
  font-size: 75px;
  padding: 5px;
}

#container {
  display: flex;
  flex-direction: row;
}
#column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#input {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin: 25px;
  margin-top: 0;
}
#input * {
  margin-top: 10px;
}

#input #txt_input {
  font-size: 50px;
  padding: 10px;
  padding-left: 25px;
  border-radius: 50px;
}

#input #update {
  font-size: 50px;
  cursor: pointer;
  color: #ddd;
  background-color: #444;
  border: #222 1px solid;
  padding: 10px;
  border-radius: 50px;
  outline-style: none;
}
#input #update:hover {
  color: #eee;
  background-color: #333;
}
#input #update:focus {
  background-color: #333;
}

#output_text {
  display: flex;
  flex-direction: column;
}
#output_img {
  display: flex;
  flex-direction: row;
}

#skin {
  image-rendering: -moz-pixelated;         /* Firefox */
  image-rendering:   -o-pixelated;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

#skin {
  background-color: #444;
  border: #222 1px solid;
  padding: 25px;
  border-radius: 25px;
  /* margin-top: 35px; */
  margin-top: 10px;
  margin-left: 50px;
  height: calc(256px + 50px)
}

#skin_img {
  height: calc(64px * 4);
  width: calc(64px * 4);
  background-color: #fff;
  object-fit: contain;
  object-position: top;
}

#face {
  background-color: #444;
  border: #222 1px solid;
  padding: 25px;
  border-radius: 25px;
  /* margin-top: 35px; */
  margin-top: 10px;
  margin-left: 25px;
  height: calc(256px + 50px)
}

#face_img {
  height: calc(64px * 4);
  width: calc(64px * 4);
  background-color: #fff;
  object-fit: contain;
  object-position: top;
}

#front {
  background-color: #444;
  border: #222 1px solid;
  padding: 25px;
  border-radius: 25px;
  /* margin-top: 35px; */
  margin-top: 10px;
  margin-left: 25px;
  height: calc(256px + 50px)
}

#front_img {
  height: calc(64px * 4);
  width: calc(64px * 2);
  background-color: #fff;
  object-fit: contain;
  object-position: top;
}

#credits {
  position: fixed;
  left: 100px;
  bottom: 10px;
  background: #333;
  padding: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 1700px) {
  @media only screen and (max-width: 1000px) {
    #output_img {
      flex-direction: column;
    }
  }
  #container {
    flex-direction: column;
  }
  #skin {
    margin-left: 25px;
    width: calc(256px + 50px);
  }
  #face {
    width: calc(256px + 50px);
  }
  #front {
    width: calc(256px + 50px);
    height: calc(512px + 50px);
  }
  #front img {
    width: 256px;
    height: 512px
  }
}
